$BG_COLOR: #ccc;

body {
  background-color: $BG_COLOR;
}

#nesroot:focus {
  outline: none;
}

.fixed-font {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.reg {
  text-align: right;
  font-family:monospace;
  font-size: 14px;
}

.pixelated {
  -ms-interpolation-mode: nearest-neighbor;   /* IE */
  image-rendering: -webkit-crisp-edges;       /* Safari */
  image-rendering: -moz-crisp-edges;          /* Firefox */
  image-rendering: pixelated;
}

.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

.pull-left {
  float: left;
}

.wnd {
  background-color: gray;
  border-radius: 5px;
  border: 1px solid #888;

  .title-bar {
    position: absolute;
    background: linear-gradient(#ccc, #999);
    width: 100%;
    height: 12px;
    box-sizing: border-box;
    border-radius:5px 5px 0 0;
    cursor: move;

    .btn {
      display: inline-block;
      float: left;
      margin-left: 5px;
      width: 10px;
      height: 10px;
      border-radius: 10px;
      cursor: pointer;
      margin-top: 1px;
    }

    .btn.close {
      background-color: #f44;
    }
    .btn.close:hover {
      background-color: #f88;
    }

    .title {
      display: inline-block;
      float: left;
      margin-left: 5px;
      margin-top: -1px;
      height: 12px;
      color: black;
      font-size: 10px;
      font-weight: bold;
    }
  }

  .content-holder {
    position: absolute;
    left: 0;
    top: 12px;
    right: 0;
    bottom: 0;
    overflow: hidden;
    border-radius:0 0 5px 5px;
  }
}
