$BG_COLOR: #ccc;

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: $BG_COLOR;

  // Disable selection.
  user-select: none;  // CSS3
  -moz-user-select: none;  // Firefox
  -webkit-user-select: none;  // Safari、Chrome
  -ms-user-select: none;  // IE10, or higher
}

.fixed-font {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.flex-center {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.reg {
  text-align: right;
  font-family:monospace;
  font-size: 14px;
}

.pixelated {
  -ms-interpolation-mode: nearest-neighbor;   /* IE */
  image-rendering: -webkit-crisp-edges;       /* Safari */
  image-rendering: -moz-crisp-edges;          /* Firefox */
  image-rendering: pixelated;
}

.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

.pull-left {
  float: left;
}

.wnd {
  background-color: gray;
  border: 1px solid #888;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition-duration: 0.1s;
  transition-property: box-shadow, width, height;

  .title-bar {
    position: absolute;
    background: linear-gradient(#999, #777);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    cursor: move;

    .btn {
      display: inline-block;
      float: left;
      margin-left: 5px;
      width: 10px;
      height: 10px;
      border-radius: 10px;
      cursor: pointer;
      margin-top: 1px;
    }

    .btn.close {
      background-color: #f44;
    }
    .btn.close:hover {
      background-color: #f88;
    }

    .title {
      position: absolute;
      left: 20px;
      right: 20px;
      height: 100%;
      margin-top: -1px;
      height: 12px;
      color: #444;
      font-size: 10px;
      font-weight: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
    }
  }

  .menu-bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #ccc;
    font-size: 10px;

    .menu-item {
      margin-top: -1px;
    }
  }
}
.wnd.top {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .8);

  .title-bar {
    background: linear-gradient(#eee, #aaa);
    .title {
      color: black;
    }
  }
}
$RESIZABLE_RADIUS: 8px;
.wnd.resizable {
  border-radius: $RESIZABLE_RADIUS;
  .title-bar {
    border-radius: $RESIZABLE_RADIUS $RESIZABLE_RADIUS 0 0;
  }
  .content-holder {
    border-radius:0 0 $RESIZABLE_RADIUS $RESIZABLE_RADIUS;
  }
}

.menu-item {
  padding: 0 16px;
  cursor: pointer;
}
.menu-item:hover {
  background-color: #eee;
}

.menu-subitem-holder {
  position: absolute;
  display: inline-block;
  background-color: #ccc;
  font-size: 10px;
  border: 1px solid #888;
  box-sizing: content-box;
}

.gamepad-content {
  position: relative;
  border: 5px solid #8C001E;
  background-color: #E0C684;
  box-sizing: border-box;
}

$BUTTON_HEIGHT: 6px;

.gamepad-btn {
  position: absolute;
  background-color: #222;
  color: white;
  outline: none;
  box-shadow: 0 $BUTTON_HEIGHT 0 #666;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
.gamepad-btn.selected {
  border: 2px solid #0c0;
  margin-top: -2px;
  margin-left: -2px;
}
.gamepad-btn.pressed {
  box-shadow: none;
  margin-top: $BUTTON_HEIGHT;
  color: cyan;
}
