$BG_COLOR: #ddd;

$SYSMENU_BAR_HEIGHT: 30px;
$BUTTON_HIGHLIGHT: #fff;
$BUTTON_SHADOW: #888;

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: $BG_COLOR;

  // Disable selection.
  user-select: none;  // CSS3
  -moz-user-select: none;  // Firefox
  -webkit-user-select: none;  // Safari、Chrome
  -ms-user-select: none;  // IE10, or higher
}

.full-size {
  width: 100%;
  height: 100%;
}

.fixed-font {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.flex-center {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.reg {
  text-align: right;
  font-family:monospace;
  font-size: 14px;
}

.pixelated {
  -ms-interpolation-mode: nearest-neighbor;   /* IE */
  image-rendering: -webkit-crisp-edges;       /* Safari */
  image-rendering: -moz-crisp-edges;          /* Firefox */
  image-rendering: pixelated;
}

.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

.pull-left {
  float: left;
}

.nesroot {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: $SYSMENU_BAR_HEIGHT;
  overflow: hidden;
}

.no-outline {
  outline: none;
  :focus {
    outline: none;
  }
}

hr {
  height: 0px;
  margin: 0;
  padding: 0;
  border: 0;
}

.menu-subitem-holder {
  position: absolute;
  display: inline-block;
  box-sizing: content-box;
  box-shadow: 0 4px 8px rgba(0,0,0,.7);
  backdrop-filter: blur(4px);

  border-radius: 0 0 4px 4px;
  padding: 2px 0 4px;
  &.bottom {
    border-radius: 4px 4px 0 0;
    padding: 4px 0 2px;
  }

  .submenu-row {
    position: relative;

    .submenu-check {
      position: absolute;
      left: 0;
      top: 0;

      &:after {
        content: '✓';
      }
    }

    .submenu-splitter {
      border-top: 1px solid #aaa;
      border-bottom: 1px solid #ddd;
    }
  }
}

.menu-item {
  padding: 0 16px;
  cursor: pointer;

  &:hover {
    color: white;
    background-color: #22f;
  }

  &.disabled {
    color: gray;

    &:hover {
      background-color: transparent;
      cursor: default;
    }
  }

  &.opened {
    color: white;
    background-color: #22f;
  }
}

.sysmenu-bar {
  position: absolute;
  height: $SYSMENU_BAR_HEIGHT;
  width: 100%;
  left: 0;
  bottom: 0;
  overflow:hidden;
  background-color: #ccc;
  border-top: 2px solid #eee;
  box-sizing: border-box;

  .sysmenu-item {
    padding: 0 16px;
    cursor: pointer;
    height: 100%;

    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    border-right: 2px solid #888;
    border-bottom: 2px solid #888;

    &:hover {
      background-color: #e0e0f8;
    }

    &.opened {
      border-top: 2px solid $BUTTON_SHADOW;
      border-left: 2px solid $BUTTON_SHADOW;
      border-right: 2px solid $BUTTON_HIGHLIGHT;
      border-bottom: 2px solid $BUTTON_HIGHLIGHT;
    }
  }
  &.selected > .sysmenu-item:hover {
    color: white;
    background-color: #22f;
  }
}


.sysmenu.menu-subitem-holder {
  @supports (backdrop-filter: none) {
    background-color: rgba(255,255,255,0.8);
  }
  @supports not (backdrop-filter: none) {
    background-color: rgb(255,255,255);
  }
}

.wnd {
  background-color: gray;
  border: 1px solid #888;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition-duration: 0.1s;
  transition-property: box-shadow, width, height, left, top;

  .title-bar {
    position: absolute;
    display: table;
    background: linear-gradient(#999, #777);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    cursor: move;

    .title-btn-holder {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      vertical-align: middle;

      .btn {
        display: inline-block;
        margin-left: 5px;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        cursor: pointer;
      }

      .btn.close {
        background-color: #f44;
        &:hover {
          background-color: #f88;
        }
      }
      .btn.maximize {
        background-color: #3d3;
        &:hover {
          background-color: #6e6;
        }
      }
    }

    .title {
      position: relative;
      display: table-cell;
      //left: 0;
      //right: 0;
      height: 100%;
      color: #444;
      font-size: 12px;
      font-weight: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
      vertical-align: middle;
      pointer-events: none;
    }
  }

  .resize-box {
    position: absolute;
  }

  .menu-bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #ccc;
    font-size: 10px;
  }

  .menu-subitem-holder {
    @supports (backdrop-filter: none) {
      background-color: rgba(204,204,204,0.8);
    }
    @supports not (backdrop-filter: none) {
      background-color: rgb(204,204,204);
    }
    font-size: 10px;
  }
}
.wnd.top {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .8);

  .title-bar {
    background: linear-gradient(#eee, #aaa);
    .title {
      color: black;
    }
  }
}
$RESIZABLE_RADIUS: 8px;
.wnd.resizable {
  border-radius: $RESIZABLE_RADIUS;
  .title-bar {
    border-radius: $RESIZABLE_RADIUS $RESIZABLE_RADIUS 0 0;
  }
  .content-holder {
    border-radius:0 0 $RESIZABLE_RADIUS $RESIZABLE_RADIUS;
  }
}

.base-clickable {
  color: gray;
  cursor: pointer;

  &:hover {
    color: black;
  }
}

.gamepad-content {
  position: relative;
  border: 5px solid #8C001E;
  background-color: #E0C684;
  box-sizing: border-box;
}

$BUTTON_HEIGHT: 6px;

.gamepad-btn {
  position: absolute;
  background-color: #222;
  color: white;
  outline: none;
  box-shadow: 0 $BUTTON_HEIGHT 0 #666;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
@keyframes gamepad-btn-selected {
  0% {border: 2px solid rgba(0,204,0,1);}
  50% {border: 2px solid rgba(0,204,0,0);}
  100% {border: 2px solid rgba(0,204,0,1);}
}
.gamepad-btn.selected {
  border: 2px solid rgb(0,204,0);
  margin-top: -2px;
  margin-left: -2px;
  animation: gamepad-btn-selected 0.5s ease infinite;
}
.gamepad-btn.pressed {
  box-shadow: none;
  margin-top: $BUTTON_HEIGHT;
  color: cyan;
}

.snackbar-container {
  width: 100%;
  height: 32px;
  position: absolute;
  top: -32px;
  transition: all 0.5s;
}

.snackbar-box {
  width: 80%;
  margin: 0 auto;
  border-radius: 5px;
  text-align: center;
  line-height: 32px;
  color: #eee;
  font-size: .8em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.snackbar-box.success {
  background-color: #28a645;
}

.snackbar-box.warning {
  background-color: #ffc108;
  color: black;
}

.snackbar-box.danger {
  background-color: #db3545;
}

.volume-text {
  color: gray;
}

.volume-text.active {
  color: black;
}

.volume-slider-container {
  position: absolute;
  background-color: black;
  border:3px solid  black;
  box-sizing: border-box;
  cursor: pointer;
}

.volume-slider {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0ff;
}
